{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'aggregator/main_dark.css' %}">

    {% if title %}
      <title> Aggregator - {{ title }}</title>
    {% else %}
      <title> Aggregator </title>
    {% endif %}
  </head>

  <body>
    <ul class='nav'>
      <li><a class="nav-item nav-link" href="{% url 'aggregator-home' %}?value=dark">Plots</a></li>
      <li><a class="nav-item nav-link" href="{% url 'aggregator-plot_func' %}">Plot func</a></li>
      <li><a class="nav-item nav-link" href="{% url 'aggregator-wallets_list_maker_func' %}">List maker func</a></li>
      <li><a class="nav-item nav-link" href="{% url 'aggregator-cat_func' %}">Categories func</a></li>
      <li><a class="nav-item nav-link" href="{% url 'aggregator-agg_func' %}">Agg func</a></li>
      <li><a class="nav-item nav-link" href="{% url 'aggregator-wallets_list' %}?value=[1000, 'dark']">All wallets</a></li>
      <li><a class="nav-item nav-link" href="{% url 'aggregator-about' %}?value=dark">About</a></li>
      <li><a class="nav-item nav-link" href="{% url 'aggregator-light_theme' %}">Light theme</a></li>
    </ul>



    <!-- <a class="nav-item nav-link" href="{% url 'aggregator-about' %}">About</a> -->






    <div class="container">

      {% block content %}{% endblock %}
    </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
