{% extends 'aggregator/layout.html' %}
{% block content%}
{% load static %}

    <img src="{% static 'wall_bal_cat_pie.png' %}" alt="">
    <img src="{% static 'wall_tr_cat_pie.png' %}" alt="">
    <img src="{% static 'wall_cat_pie.png' %}" alt="">
    <img src="{% static 'bal_tr_cat_scatter.png' %}" alt="">
    <img src="{% static 'bal_tr_scatter.png' %}" alt="">
    <img src="{% static 'combined_plot.png' %}" alt="">
    <img src="{% static 'tr_delta_btc_price_plot.png' %}" alt="">
    <img src="{% static 'all_plot.png' %}" alt="">
    <img src="{% static 'all_btc_plot.png' %}" alt="">
    <img src="{% static 'new_wallets_btc_price_plot.png' %}" alt="">

    <!-- new_wallets_btc_price -->
    <img src="{% static 'algo_plot.png' %}" alt="">
    <img src="{% static 'exchanges_plot.png' %}" alt="">
    <img src="{% static 'trading_plot.png' %}" alt="">
    <img src="{% static 'marked_plot.png' %}" alt="">
    <!-- <img src="{% static 'all_plot.png' %}" alt=""> -->

{% endblock %}
